<html>
  <head>
    <title> REC:ruit </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id = "wrap">
      <header>
        <div>
          <h1 class="logo">
           <a href="#"><img src="../static/icon.png" alt="로고"></a>
          </h1>
          <h1 class="text">REC:ruit</h1>
          <ul class="gnb">
            <li><a href="#">Resume</a></li>
            <li><a href="#">project</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
      </header>
      <div id="container">
        <div id="idx_top">

        </div>
      </div>
    </div>
  </body>
</html>